@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');

/* https://www.templatemonsterpreview.com/pl/demo/74194.html */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
}

body {
    margin: 0 auto;
    max-width: 360px;
}

@media (min-width: 640px) {
    body {
        width: 640px;
        max-width: 640px;
    }
}

/* NAV */

nav {
    position: fixed;
    top: 0;
    left: 50%;
    margin: 0 auto;
    transform: translateX(-50%);
    padding: 10px;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    z-index: 2;
    max-width: 360px;
}


@media (min-width: 640px) {
    nav {
        max-width: 640px;
    }
}

.navbar {
    position: absolute;
    width: 150px;
    top: 50px;
    left: -150px;
    background-color: #fff;
    height: 300px;
    transition: 1s;
}

.navbar.active {
    left: 0;
}

nav ul {
    margin-top: 20px;
}

nav ul li {
    list-style: none;
    font-size: 1.6rem;
    color: #6a7680;
    padding: 10px;
    padding-left: 20px;
}

.burger i {
    font-size: 3rem;
    color: #B3BBC1;
}

.navname {
    text-transform: uppercase;
    color: #333333;
}

.navname img {
    height: 30px
}

.slogan {
    text-transform: uppercase;
    font-size: 2.4rem;
    letter-spacing: 3px;
    font-weight: 700;
}

/* HEADER */

header {
    height: 280px;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 30px;
    width: 100%;
}

video.header {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    opacity: 0.8;
}

header h1 {
    position: absolute;
    z-index: 1;
    color: white;
    width: 100%;
    text-align: center;
    font-family: arial;
    text-transform: uppercase;
    font-size: 1.8rem;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 15px 0;
    animation: text 12s infinite;
    opacity: 0;
    letter-spacing: 4px;
}

@media (min-width: 640px) {
    header h1 {
        font-size: 2.4rem;
    }
}


header h1:nth-of-type(2) {
    animation-delay: 4s;
}

.jota {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, .6);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 160px;
    height: 90px;
    z-index: 1;
    border-radius: 20px;
    animation: text 12s infinite;
    animation-delay: 8s;
    opacity: 0;
}

.jota img {
    width: 70%;
}


@keyframes text {
    0% {
        opacity: 0;
    }

    5% {
        opacity: 0;
    }

    8% {
        opacity: 1
    }

    25% {
        opacity: 1
    }

    28% {
        opacity: 0
    }

    33.33% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

/* MAIN */

main {
    margin: 0 auto;
}

.offerwrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
}

.offer {
    width: 90%;
    height: 300px;
    background-color: #686157;
    color: white;
    margin-bottom: 25px;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 2px 8px 8px 0px rgba(0, 0, 0, 0.5);
    font-size: 1.8rem;
    text-align: center;
}

@media (min-width: 640px) {
    .offer {
        width: 87%;
        padding: 15px;
    }
}

.offer:nth-of-type(2),
.offer:nth-of-type(3) {
    background-color: #3C3C3C;
}

.offer h1 {
    text-align: center;
}

.offer h2 {
    width: 80%;
    font-family: 'Playfair Display', serif;
    font-size: 2.2rem;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 15px auto;
}

.offer i {
    font-size: 5rem;
    margin-top: 35px;
}

.offer p {
    line-height: 150%;
    font-size: 1.4rem;
    font-family: 'Montserrat', sans-serif;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-weight: 300;
    line-height: 2;
    color: #fefefe;
}

.trust {
    font-family: "Playfair Display", "Times New Roman", Times, serif;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    letter-spacing: 2px;
}

.trust h1 {
    background-color: #3C3C3C;
    font-size: 2rem;
    color: #fefefe;
    padding: 15px;
    box-shadow: 2px 8px 8px 0px rgba(0, 0, 0, 0.5);
}

@media (min-width: 640px) {
    .trust h1 {
        margin: 5%;
    }
}

.trust:before {
    display: block;
    content: "";
    width: 20%;
    height: 2px;
    background-color: black;
    margin: 30px 0 30px 5%;
    ;
}

@media (min-width: 640px) {
    .trust:before {
        width: 10%;
    }
}

.logos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 15px;
}

.logo {
    width: 100%;
    text-align: center;
    padding: 20px;
    filter: grayscale(1);
    opacity: 0.7;
    transition: .3s linear;
}

@media (min-width: 640px) {
    .logo {
        width: 40%;
        display: flex;
        align-items: center;
    }
}

.logo:hover {
    filter: grayscale(0);
    opacity: 1;
}

.logo img {
    width: 60%;
}

@media (min-width: 640px) {
    .logo img {
        width: 80%;
        height: auto;
    }
}

.references {
    width: 100%;
}

.references h1 {
    width: 100%;
}


.references h3 {
    text-transform: none;
    letter-spacing: 0;
    margin-top: 20px;
    margin-bottom: 5px;
}

.references h4 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: none;
    letter-spacing: 0;
    margin-bottom: 15px;
}

.references p {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.4rem;
    text-transform: none;
    font-weight: 400;
    padding: 0 15px;
}

.references button {
    margin-top: 20px;
    background-color: #686157;
    padding: 10px;
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    border-radius: 20px;
    box-shadow: 2px 8px 8px 0px rgba(0, 0, 0, 0.5);
    transition: .3s linear;
}

.references button:hover {
    box-shadow: none;
}


/* FOOTER */

.contact {
    background-color: #3C3C3C;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

footer:before {
    display: block;
    content: "";
    width: 20%;
    height: 2px;
    background-color: black;
    margin: 50px 0 30px 5%;
    ;
}

.contact h1 {
    width: 100%;
    text-align: left;
    font-family: "Playfair Display", "Times New Roman", Times, serif;
    text-transform: uppercase;
    color: white;
    letter-spacing: 2px;
    margin: 5%;
}

.person {
    width: 40%;
    text-align: center;
}

.person img {
    width: 100%;
    margin-top: 5%;
}

@media (min-width: 640px) {
    .person img {
        width: 80%;
        margin-top: 0;
    }
}

.data {
    width: 50%;
    font-family: 'Montserrat', sans-serif;
    color: #bebebe;
    font-size: 1.5rem;
    line-height: 150%;
}

@media (min-width: 640px) {
    .data {
        font-size: 1.8rem;
        line-height: 180%;
    }
}

.data p:nth-of-type(3) {
    text-decoration: dashed;
    margin-bottom: 15px;
}

.data a {
    text-decoration: none;
    color: #bebebe;
    transition: .3s linear;

}

.data a:hover {
    color: #686157
}

.row {
    width: 80%;
    height: 1px;
    background-color: rgb(190, 190, 190);
    margin-top: 15px;
}

.medias {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.media {
    color: rgb(190, 190, 190);
    font-size: 1.6rem;
    margin: 5%;
}

@media (min-width: 640px) {
    .media {
        font-size: 2.4rem;
        margin: 3%;
    }
}